<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register new user</title>
</head>
<body>
  <button id="register">create a new user</button>
  <script>
    let btn = document.getElementById("register");
    btn.addEventListener("click", async (e) => {
      e.preventDefault();

      const userData = {
        username: 'viraj.7',
        email: "virajdoshi11@gmail.com",
        password: "Password72<>",
        first_name: "Viraj",
        last_name: "Doshi"
      };

      const result = await fetch("http://localhost:5000/api/auth/register/", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(userData)
      });
      const response = result.json()

      console.log("=================");
      console.log(response);
    });
  </script>
</body>
</html>